<div class="edit-users-main">

  <header class="edit-users-header">
    <h1>Editing <%= @user.name %></h1>
  </header>

  <div class="edit-user-form">
    <%= render 'form' %>
  </div>

  <div class="new-users-back">
    <%= link_to 'Back', surveys_path %>
  </div>
  
</div>
