<div class="new-users-main">

  <header class="new-users-header">
    <h1>New User</h1>
  </header>

  <div class="new-user-form">
    <%= render 'form' %>
  </div>

  <div class="new-users-back">
    <%= link_to '<<<', users_path %>
  </div>

</div>
