<div class="new-surveys-main">

  <header class="new-surveys-header">
    <h1>New Survey</h1>
  </header>

  <div class="new-survey-form">
    <%= render 'form' %>
  </div>

  <div class="new-surveys-back">
    <%= link_to 'Back', surveys_path %>
</div>
