button {
  cursor: pointer;
}

.dashboard-header {
  margin: 0 auto;
  padding: 1em;
  background-color: #00BCD4;
  height: 2.5em;
  box-shadow: 0px 5px 5px 0px #888888;
}

#dashboard-icon {
  float: left;
  width: 3em;
  padding-left: 0.5em;
}

.user-dashboard-info {
  float: right;
  color: #e0f7fa;
}

.fa-search {
  padding-left: 1.2em;
  padding-top: 0.5em;
  font-size: 1.2em;
  color: #e0f7fa;
  padding-right: 0.5em;
}

.search-surveys {
  text-align: center;
  padding-right: 2em;
  height: 1em;
  border-radius: 15px;
}

.dashboard-background {
  background-color: #E0F7FA;
}

.my-surveys {
  z-index: 0;
  margin-top: 6em;
  box-shadow: 0px 10px 10px 0px #888888;
  text-align:center;
}

.my-surveys-header {
  z-index: 1;
  background-color: #B2EBF2;
  padding: 0.5em;
  text-align: center;
  box-shadow: 0px 5px 5px 0px #888888;
}

.my-surveys-title {
  font-size: 1.8em;
  padding: 0.5em;
}

.my-surveys-list, .take-surveys-list {
  margin-top: 0;
  background-color: #FFFFFE;
  padding: 1em;
}

.my-surveys-list a {
  color: #00BCD4;
  text-decoration: none;
}

.my-surveys-list a:hover {
  color: #DE4D4E;
}

.action-events {
  bottom: 0;
  float: right;
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.my-surveys-table {
    width: 100%;
    text-align: left;
}

th {
    height: 50px;
    text-align: left;
}

thead {
  color: #00BCD4;
}

.btn-take-surveys {
  cursor: pointer;
}

.dashboard-footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  background-color: #00BCD4;
  display: inline;
}

.dashboard-footer a {
  color: #FFFFFE;
  text-decoration: none;
}

.dashboard-footer a:hover {
  color: #DE4D4E;
  text-decoration: none;
}

.logout {
  color: #FFFFFE;
  bottom: 0;
  float: left;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.new-survey-link {
  text-align: center;
  padding-top: 5em;
}
.new-survey-link a {
  padding: 0.3em;
  text-decoration: none;
  background-color: #FFFFFE;
  color: #00BCD4;
  border: 1px solid #00BCD4;
}

.new-survey-link a:hover {
  background-color: #00BCD4;
  color: #FFFFFE;
  border: 1px solid #FFFFFE;
}
