.edit-outer-container {
  text-align: center;
}

.edit-survey-header {
  background-color: #00BCD4;
  color: #FFFFFE;
  margin-left: 10em;
  margin-right: 10em;
  padding: 1em;
  font-size: 1.5em;
}

.edit-form-div {
  background-color: #FFFFFE;
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 1em;
  box-shadow: 0px 5px 5px 0px #888888;
  padding-bottom: 1em;
  padding-top: 1em;
}

.edit-form-div input {
  margin-top: 1em;
  margin-bottom: 1em;
}

.edit-questions-div {
  background-color: #FFFFFE;
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 1em;
  box-shadow: 0px 5px 5px 0px #888888;
  padding-bottom: 1em;
  padding-top: 1em;
}
